
/pub/errors
/pub/opt
/pub/static
/pub/*.*
/pub/media/*
!/pub/media/images
!/pub/js

/app/*.*
/app/etc
/app/design/adminhtml

LICENSE
/bin
/dev
/phpserver
/var
/setup
/*.*
.htaccess
!.gitignore
update
/sqldb

